

<main class="container mx-auto mt-8">
  <h1 class="text-3xl font-bold mb-8 text-center  text-white">Bienvenido a la Aplicación Principal</h1>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <div class="bg-gradient-to-r from-gray-800 to-blue-950 p-6 rounded-lg shadow-md flex flex-col items-center">
      <img src='assets/calculadora-mini.png' alt="Calculator" class="h-26 mb-4">
      <a routerLink="/calculator" class="text-xl font-bold text-blue-500 hover:underline">Calculator</a>
    </div>
    <div class="bg-gradient-to-r from-gray-800 to-blue-950 p-6 rounded-lg shadow-md flex flex-col items-center">
      <img src="assets/countries_blue.jpg" alt="Countries" class="h-26 mb-4">
      <a routerLink="/countries" class="text-xl font-bold text-blue-500 hover:underline">Countries</a>
    </div>
    <div class="bg-gradient-to-r from-gray-800 to-blue-950 p-6 rounded-lg shadow-md flex flex-col items-center">
      <img src="assets/crud-blue.png" alt="Crud" class="h-26 mb-3">
      <a routerLink="/crud" class="text-xl font-bold text-blue-500 hover:underline">Crud</a>
    </div>
    <div class="bg-gradient-to-r from-gray-800 to-blue-950 p-6 rounded-lg shadow-md flex flex-col items-center">
      <img src="assets/kanban-blue.png" alt="Tasks" class="h-26 mb-4">
      <a routerLink="/tasks" class="text-xl font-bold text-blue-500 hover:underline">Tasks</a>
    </div>
    <div class="bg-gradient-to-r from-gray-800 to-blue-950 p-6 rounded-lg shadow-md flex flex-col items-center">
      <img src="assets/weather_blue.jpg" alt="Weather" class="h-26 mb-4">
      <a routerLink="/weather" class="text-xl font-bold text-blue-500 hover:underline">Weather</a>
    </div>
    <div class="bg-gradient-to-r from-gray-800 to-blue-950 p-6 rounded-lg shadow-md flex flex-col items-center">
      <img src="assets/gifs-blue.png" alt="Gifs" class="h-26 mb-4">
      <a routerLink="/gifs" class="text-xl font-bold text-blue-500 hover:underline">Gifs</a>
    </div>
  </div>
</main>
