<div class="min-h-screen flex flex-col md:flex-row">
  <!-- Columna lateral para el buscador -->
  <div class="bg-gray-800 text-white w-full md:w-auto p-4 flex flex-col items-center">
    <h2 class="text-2xl font-bold mb-4">Buscar GIFs</h2>
    <gifs-search-box (search)="searchGifs($event)"></gifs-search-box>
    <!-- Historial de Búsquedas -->
    <div class="mt-4 w-full">
      <h3 class="text-lg font-semibold mb-2">Historial de Búsquedas</h3>
      <div class="space-y-2">
        <div *ngFor="let term of gifsService.tagsHistory" (click)="searchGifs(term)" class="cursor-pointer hover:text-blue-500 bg-blue-200 text-gray-800 p-2 rounded-md shadow-md">
          {{ term }}
        </div>
      </div>
    </div>
  </div>

  <!-- Contenedor para la imagen de fondo o resultados de búsqueda -->
  <div class="flex-grow p-4 bg-cover bg-center bg-image">
    <div class="max-w-5xl mx-auto">
      <div *ngIf="!gifs.length" class="flex items-center justify-center h-full">
        <p class="text-3xl text-gray-300">Realiza una búsqueda para ver resultados</p>
      </div>
      <div *ngIf="gifs.length" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <gifs-card-list [gifs]="gifs"></gifs-card-list>
      </div>
    </div>
  </div>
</div>
