<div class="calculator">
  <div class="calculator-screen">
    <div class="calculator-operation">{{ currentInput }}</div>
    <div class="calculator-result">{{ currentResult }}</div>
  </div>
  <div class="calculator-buttons">
    <button (click)="appendCharacter('1')">1</button>
    <button (click)="appendCharacter('2')">2</button>
    <button (click)="appendCharacter('3')">3</button>
    <button (click)="appendCharacter('+')">+</button>
    <button (click)="appendCharacter('4')">4</button>
    <button (click)="appendCharacter('5')">5</button>
    <button (click)="appendCharacter('6')">6</button>
    <button (click)="appendCharacter('-')">-</button>
    <button (click)="appendCharacter('7')">7</button>
    <button (click)="appendCharacter('8')">8</button>
    <button (click)="appendCharacter('9')">9</button>
    <button (click)="appendCharacter('*')">*</button>
    <button (click)="appendCharacter('0')">0</button>
    <button (click)="appendCharacter('.')">.</button>
    <button (click)="calculateResult()">=</button>
    <button (click)="appendCharacter('/')">/</button>
    <button (click)="clearInput()">C</button>
  </div>
</div>
<app-history></app-history>
