<mat-card>
  <mat-card-header>
    <mat-card-title>{{ image.name }}</mat-card-title>
    <mat-card-subtitle>{{ image.nickname }}</mat-card-subtitle>
  </mat-card-header>

  <!-- TODO Imagen -->
  <img mat-card-image [src]="image | imageImage" [alt]="image.name">

  <mat-card-content class="mt-2">
    <h4> {{ image.author }}</h4>
    <p>
      <strong>Primera aparicion</strong> {{ image.location }}
      <br>
      <mat-chip-listbox>
        <mat-chip *ngFor="let name of image.tags.split(',') | slice:0:3" >
          {{ name }}
        </mat-chip>
      </mat-chip-listbox>
    </p>
  </mat-card-content>

  <mat-divider></mat-divider>

  <mat-card-actions>

    <button mat-button
    mat-raised
    color="primary"
    [routerLink]="['/image/edit', image.id ]">
      <mat-icon>edit</mat-icon>
      Editar
    </button>

    <span class="spacer"></span>

    <button mat-button
    mat-raised
    [routerLink]="['/images', image.id ]">
      <mat-icon>more_horiz</mat-icon>
      Mas
    </button>

  </mat-card-actions>

</mat-card>

