/* src/app/Apps-Tools/app-crud/pages/list-page/list-page.component.css */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Ajustar el minmax según el ancho de las tarjetas */
  gap: 16px;
  padding: 0 16px; /* Añadir margen a ambos lados */
}

@media (min-width: 1200px) {
  .grid {
    grid-template-columns: repeat(4, 1fr); /* 4 columnas en pantallas grandes */
  }
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr; /* 1 columna en dispositivos móviles */
  }
}

.grid-item {
  margin: 8px; /* Añadir margen alrededor de cada tarjeta */
}
