<h1>
  {{ currentImage.id ? 'Editar' : 'Agregar' }} imagen
  <small>{{ currentImage.author }}</small>
</h1>

<mat-divider class="mb-2"></mat-divider>

<div class="container">
  <div class="ficha">
    <div class="formulario">
  <div class="form-section">
    <mat-card>
      <mat-card-content>

        <form class="form-grid" [formGroup]="imageForm" (ngSubmit)="onSubmit()">

          <mat-form-field class="full-width">
            <mat-label>Título</mat-label>
            <input matInput type="text" required formControlName="name" />
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Nick</mat-label>
            <input matInput type="text" required formControlName="nickname" />
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Localización</mat-label>
            <input matInput type="text" required formControlName="location" />
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Etiquetas</mat-label>
            <input matInput type="text" required formControlName="tags" />
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Creador</mat-label>
            <mat-select required formControlName="author">
              <mat-option *ngFor="let author of authors" [value]="author.id">
                {{ author.desc }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Imagen Alternativa</mat-label>
            <input matInput type="text" formControlName="alt_img" />
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Descripción</mat-label>
            <textarea matInput formControlName="descripcion"></textarea>
          </mat-form-field>

        </form>

        <div class="flex justify-content-between">
          <button *ngIf="currentImage.id" (click)="onDeleteImage()" mat-flat-button color="warn">
            Borrar
          </button>
          <span></span>
          <button mat-flat-button color="primary" (click)="onSubmit()">
            <mat-icon>save</mat-icon>
            Guardar
          </button>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>
</div>
<div class="container">
  <div class="ficha">
    <div class="formulario">
  <div class="image-section">
    <mat-card>
      <img [src]="currentImageImageUrl" alt="imagen de fotografía" mat-card-image />
    </mat-card>
  </div>
</div>
</div>
</div>
