<div class="container mx-auto p-4 bg-gradient-to-r from-gray-400 to-blue-900 shadow-md rounded-lg">
  <h1 class="text-2xl font-bold mb-4">Editar imagen <span class="text-gray-600">{{ imageForm.get('nickname')?.value }}</span></h1>
  <hr class="mb-4">

  <div class="flex flex-wrap md:flex-nowrap">
    <!-- Form Section -->
    <div class="w-mid lg:w-2/4 p-4">
      <form [formGroup]="imageForm" (ngSubmit)="onSubmit()" class="space-y-4">
        <div>
          <label for="name" class="block text-sm font-medium text-gray-700">Título*</label>
          <input type="text" id="name" formControlName="name" class="mt-1 block w-full p-2 border border-white-300 rounded-md" required>
        </div>
        <div>
          <label for="nickname" class="block text-sm font-medium text-gray-700">Nick*</label>
          <input type="text" id="nickname" formControlName="nickname" class="mt-1 block w-full p-2 border border-gray-300 rounded-md" required>
        </div>
        <div>
          <label for="location" class="block text-sm font-medium text-gray-700">Localización*</label>
          <input type="text" id="location" formControlName="location" class="mt-1 block w-full p-2 border border-gray-300 rounded-md" required>
        </div>
        <div>
          <label for="tags" class="block text-sm font-medium text-gray-700">Etiquetas*</label>
          <input type="text" id="tags" formControlName="tags" class="mt-1 block w-full p-2 border border-gray-300 rounded-md" required>
        </div>
        <div>
          <label for="author" class="block text-sm font-medium text-gray-700">Creador*</label>
          <input type="text" id="author" formControlName="author" class="mt-1 block w-full p-2 border border-gray-300 rounded-md" required>
        </div>
        <div>
          <label for="alt_img" class="block text-sm font-medium text-gray-700">Imagen Alternativa</label>
          <input type="text" id="alt_img" formControlName="alt_img" class="mt-1 block w-full p-2 border border-gray-300 rounded-md">
        </div>
        <div>
          <label for="descripcion" class="block text-sm font-medium text-gray-700">Descripción</label>
          <textarea id="descripcion" formControlName="descripcion" class="mt-1 block w-full p-2 border border-gray-300 rounded-md"></textarea>
        </div>
        <div class="flex justify-between items-center mt-4">
          <button type="button" class="bg-red-500 text-white py-2 px-4 rounded hover:bg-red-700" (click)="onDeleteImage()">Borrar</button>
          <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700">Guardar</button>
        </div>
      </form>
    </div>

    <!-- Image Section -->
    <div class="w-mid lg:w-2/4 p-4 flex items-center justify-center">
      <img [src]="currentImageImageUrl" [alt]="imageForm.get('name')?.value" class="max-w-full h-auto rounded-lg shadow-md">
    </div>
  </div>
</div>
