
<p-panel header="Pipes básicos" class="p-1">
  <h1></h1>
<p>

</p>

</p-panel>


<div class="grid mt-2">

<div class="col-12 md:col-4">
  <p-card header="--------">

  </p-card>
</div>

<div class="col-12 md:col-4">
  <p-card header="*********">

  </p-card>
</div>
<div class="col-12 md:col-4">
  <p-card header="----------">

  </p-card>
</div>

<div class="col-12 md:col-6">
  <p-card header="Date">

    <ul>
      <li> *****</li>
      <li> /**********</li>
      <li> /************'</li>
      <li> /************* </li>
      <li> /************ </li>
      <li> /////////**********</li>

    </ul>

    <hr>
    <ol>
      <li>- </li>
      <li>- </li>
      <li>- </li>
      <li>-' </li>

    </ol>
  </p-card>
</div>


<div class="col-12 md:col-6">
  <p-card header="tittlecase">

    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>

    </ul>

    <hr>
    <ol>
      <li> </li>
      <li> </li>
      <li></li>
      <li></li>
    </ol>

  </p-card>
</div>

</div>
