<div class="flex">
  <div class="w-1/8  bg-gray-800 rounded-lg shadow-md">
    <h1 class="text-3xl font-bold mb-8 text-center text-white">Search City</h1>
    <form (ngSubmit)="getWeather()">
      <div class="mb-4">
        <input type="text" id="city" [(ngModel)]="city" name="city" class="w-full p-2 rounded border" placeholder="Enter city name" required>
      </div>
      <button type="submit" class="w-full bg-blue-500 text-white p-2 rounded hover:bg-blue-400">Search</button>
    </form>
  </div>
  <div class="w-7/8 p-6">
    <app-weather-results *ngIf="weather" [weather]="weather" [forecast]="forecast" [chartData]="chartData"></app-weather-results>
  </div>
</div>
