/* Añadir tus estilos personalizados aquí */


.bg-image {
  background-image: url('/assets/weather_blue.jpg'); /* Ajustar la ruta según sea necesario */
  background-size: cover;
  background-position: center;
}
