.echart {
  width: 100%;
  height: 128px; /* h-32 */
}

@media (min-width: 768px) {
  .echart {
    height: 192px; /* md:h-48 */
  }
}

@media (min-width: 1024px) {
  .echart {
    height: 256px; /* lg:h-64 */
  }
}
