@import 'tailwindcss/tailwind.css';

/* No es necesario mantener el archivo SCSS si todos los estilos se manejan con Tailwind CSS en el HTML */

.bg-image {
  background-image: url('/assets/countries_blue.jpg'); /* Ajustar la ruta según sea necesario */
  background-size: cover;
  background-position: center;
}

.flex-grow {
  flex-grow: 1;
  overflow: hidden;
}

.grid {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Ajustar tamaño mínimo de las tarjetas */
}

/* Estilos adicionales */
button {
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1d4ed8;
}

button:focus {
  outline: none;
}
