<div class="container mx-auto px-4 py-8 bg-blue-950 min-h-screen text-white">
  <div class="text-center mb-8">
    <h1 class="text-4xl font-bold">Sobre Mí</h1>
    <p class="text-lg mt-2">Conoce más sobre mi experiencia y habilidades</p>
  </div>

  <div class=" bg-gradient-to-r from-gray-800 to-blue-950p-6 rounded-lg shadow-lg mb-8">
    <div class="flex flex-col md:flex-row items-center md:items-start">
      <div class="w-full md:w-1/4">
        <img src="assets/fotoCV.png" alt="Ismael Parada Mateo" class="rounded-full shadow-lg mx-auto w-80 h-72">
      </div>
      <div class="w-full md:w-3/4 mt-6 md:mt-0 md:pl-10">
        <h2 class="text-3xl font-bold">Ismael Parada Mateo</h2>
        <p class="text-lg mt-2">Desarrollador Web</p>
        <p class="mt-4 text-justify">Soy una persona apasionada y comprometida con mi trabajo. Me encanta aprender cosas nuevas y enfrentar desafíos que me permitan crecer tanto personal como profesionalmente. Soy una persona proactiva, autónoma y con capacidad para trabajar en equipo. Además, tengo excelentes habilidades de comunicación y una gran capacidad para resolver problemas de manera creativa.</p>
      </div>
    </div>
  </div>

  <div class="bg-gradient-to-r from-gray-800 to-blue-950 p-6 rounded-lg shadow-lg mb-8">
    <h2 class="text-2xl font-bold mb-4">Experiencia</h2>
    <div class="mb-4">
      <h3 class="text-xl font-semibold">Becario en Viewnext, IBM Subsidiary, Cáceres</h3>
      <p class="text-gray-400">Abril 2024 - Junio 2024</p>
      <ul class="list-disc ml-6 mt-2 text-white">
        <li>Prácticas en Front-End.</li>
        <li>Angular como Framework.</li>
        <li>Formación y desarrollo de SPA.</li>
      </ul>
    </div>
    <div>
      <h3 class="text-xl font-semibold">Encargado en Cafetería Nuevo Mesón, Cáceres</h3>
      <p class="text-gray-400">Marzo 2009 - Junio 2022</p>
      <ul class="list-disc ml-6 mt-2 text-white">
        <li>Atención y servicio a clientes.</li>
        <li>Gestión económica y de stock de la empresa.</li>
        <li>Manejo de equipo de trabajadores bajo mi cargo.</li>
        <li>Gestión de personal: contratación, formación, supervisión del personal.</li>
        <li>Resolución de problemas.</li>
      </ul>
    </div>
  </div>

  <div class="bg-gradient-to-r from-gray-800 to-blue-950 p-6 rounded-lg shadow-lg mb-8">
    <h2 class="text-2xl font-bold mb-4">Estudios</h2>
    <p class="text-lg">Grado Superior en Desarrollo en aplicaciones Web. En curso, Cesur, Cáceres.</p>
    <h3 class="text-xl font-semibold mt-4">Cursos:</h3>
    <ul class="list-disc ml-6 mt-2 text-white">
      <li>Angular de cero a experto. Udemy</li>
      <li>Bootcamp de chatGpt y prompt engineering: de cero a experto. Udemy</li>
      <li>Master en TypeScript, JavaScript moderno, ES2024, APIS HTML5. Udemy</li>
      <li>Software testing desde cero: Masterclass Todo en 1 2024. Udemy</li>
      <li>Git, GitHub, GitLab y GitHub Copilot: Uso de repositorios. Udemy</li>
      <li>Curso de PHP developer. OpenWebinars</li>
      <li>Creación y administración de Bases de Datos SQL</li>
    </ul>
  </div>

  <div class="bg-gradient-to-r from-gray-800 to-blue-950 p-6 rounded-lg shadow-lg mb-8">
    <h2 class="text-2xl font-bold mb-4">Habilidades</h2>
    <div class="flex flex-wrap">
      <span class="bg-blue-700 text-white px-3 py-1 rounded-full text-sm font-medium mr-2 mb-2">Angular 17+</span>
      <span class="bg-blue-700 text-white px-3 py-1 rounded-full text-sm font-medium mr-2 mb-2">JavaScript</span>
      <span class="bg-blue-700 text-white px-3 py-1 rounded-full text-sm font-medium mr-2 mb-2">MongoDB</span>
      <span class="bg-blue-700 text-white px-3 py-1 rounded-full text-sm font-medium mr-2 mb-2">Java</span>
      <span class="bg-blue-700 text-white px-3 py-1 rounded-full text-sm font-medium mr-2 mb-2">JQuery</span>
      <span class="bg-blue-700 text-white px-3 py-1 rounded-full text-sm font-medium mr-2 mb-2">Docker</span>
      <span class="bg-blue-700 text-white px-3 py-1 rounded-full text-sm font-medium mr-2 mb-2">Bootstrap</span>
      <span class="bg-blue-700 text-white px-3 py-1 rounded-full text-sm font-medium mr-2 mb-2">PHPUnit</span>
      <span class="bg-blue-700 text-white px-3 py-1 rounded-full text-sm font-medium mr-2 mb-2">Git</span>
      <span class="bg-blue-700 text-white px-3 py-1 rounded-full text-sm font-medium mr-2 mb-2">HTML5</span>
      <span class="bg-blue-700 text-white px-3 py-1 rounded-full text-sm font-medium mr-2 mb-2">MySQL</span>
      <span class="bg-blue-700 text-white px-3 py-1 rounded-full text-sm font-medium mr-2 mb-2">PHP</span>
      <span class="bg-blue-700 text-white px-3 py-1 rounded-full text-sm font-medium mr-2 mb-2">Node.js</span>
    </div>
  </div>

  <div class="bg-gradient-to-r from-gray-800 to-blue-950 p-6 rounded-lg shadow-lg mb-8">
    <h2 class="text-2xl font-bold mb-4">Idiomas</h2>
    <p><strong>Español:</strong> Nativo</p>
    <p><strong>Inglés:</strong> B2</p>
  </div>

  <div class="bg-gradient-to-r from-gray-800 to-blue-950 p-6 rounded-lg shadow-lg mb-8">
    <h2 class="text-2xl font-bold mb-4">Contacto</h2>
    <p><strong>Email:</strong> ismaelparada.ip&#64;gmail.com</p>
    <p><strong>Teléfono:</strong> (+34) 717701661</p>
    <p><strong>LinkedIn:</strong> <a href="www.linkedin.com/in/ismael-parada-mateo-b8025792" class="text-blue-500">Ismael Parada Mateo</a></p>
  </div>
</div>
