.menu-wrapper {
  width: 100%;
}

/* Media Query para pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .menu-wrapper {
    position: relative;
  }

  .menu-wrapper .p-menubar-root-list {
    display: none;
  }

  .menu-wrapper .p-menubar-horizontal {
    display: block;
  }

  .menu-wrapper .p-menubar-horizontal .p-menubar-submenu {
    position: static;
    width: 100%;
    text-align: left;
  }
}
