<mat-card (click)="navigateToDetails()">
  <mat-card-header>
    <mat-card-title>{{ truncateText(image.name, 20) }}</mat-card-title>
    <mat-card-subtitle>{{ truncateText(image.nickname, 20) }}</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image [src]="imageUrl" alt="{{image.name}}">

  <mat-card-content class="mt-2">
    <h4>{{ image.author }}</h4>
    <p>
      <strong>Primera aparición:</strong> {{ truncateText(image.location, 30) }}
      <br>
      <mat-chip-listbox>
        <mat-chip *ngFor="let name of image.tags.split(',')">
          {{ truncateText(name, 15) }}
        </mat-chip>
      </mat-chip-listbox>
    </p>
  </mat-card-content>
</mat-card>
