<ng-template #divLoading>
  <div class="flex justify-center items-center h-full">
    <div class="spinner-border animate-spin inline-block w-8 h-8 border-4 rounded-full" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</ng-template>

<div *ngIf="image; else divLoading" class="container mx-auto p-4 w-auto">
  <div class="bg-bluegray-50 shadow-md rounded-lg overflow-hidden lg:flex lg:max-w-screen-lg mx-auto">
    <!-- Image Section -->
    <div class="lg:w-2/4 w-full h-auto lg:h-auto">
      <img [src]="imageUrl" [alt]="image.name" class="object-cover w-full h-full">
    </div>

    <!-- Info Section -->
    <div class="lg:w-2/4 p-6 bg-gradient-to-r from-gray-400 to-blue-900 flex flex-col justify-between">
      <div>
        <h2 class="text-2xl font-bold">{{ image.nickname }}</h2>
        <p class="text-gray-600 mb-4">{{ image.name }}</p>
        <div class="space-y-6">
          <div><strong>Localización:</strong> {{ image.location }}</div>
          <div><strong>Etiquetas:</strong> {{ image.tags }}</div>
          <div><strong>Autor:</strong> {{ image.author }}</div>
          <div><strong>Nick:</strong> {{ image.nickname }}</div>
          <div><strong>Descripción:</strong> {{ image.descripcion }}</div>
        </div>
      </div>
      <div class="mt-4 flex justify-end">
        <button class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700" [routerLink]="['/crud/edit', image.id]">
          Editar
        </button>
      </div>
    </div>
  </div>
</div>
