/* src/app/Apps-Tools/app-crud/pages/list-page/list-page.component.css */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
}

@media (min-width: 1200px) {
  .grid {
    grid-template-columns: repeat(5, 1fr); /* 5 columnas en pantallas grandes */
  }
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr; /* 1 columna en dispositivos móviles */
  }
}
.grid {
  display: flex;
  flex-wrap: wrap;
}

.mat-card {
  margin: 10px;
  flex: 1;
}

@media (max-width: 600px) {
  .mat-card {
    width: 100%;
  }
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.ficha {
  display: flex;
  width: 60%; /* Ajusta el tamaño de la ficha según sea necesario */
}

.formulario,
.imagen {
  flex: 1;

}

.image-section{
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
  width: 45vh;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr; /* Utilizamos grid para los campos del formulario */
  gap: 1px; /* Espacio entre los campos */
}

.full-width {
  width: 100%;
}
