/* src/app/Apps-Tools/app-countries/pages/by-capital-page/by-capital-page.component.css */
.country-list {
  padding: 20px;
}

.country-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
