.country-card {
  background-color: white;
  color: black;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  transition: transform 0.3s;
  margin-bottom: 1rem;

  &:hover {
    transform: translateY(-0.5rem);
  }

  .country-card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }

  .country-card-title {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .country-card-image {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  }

  .country-card-content p {
    margin: 0.5rem 0;
  }
}
