<div class="bg-bluegray-50 text-black rounded-lg shadow-lg p-6 transition-transform duration-300 mb-4">
  <div class="flex flex-col items-center mb-4">
    <a [routerLink]="['/countries', country.cca3]">
      <h2 class="text-2xl font-bold mb-4">{{ country.name.common }}</h2>
    </a>
    <img [src]="country.flags.svg" [alt]="country.name.common + ' flag'" class="w-full h-auto rounded-lg mb-4">
  </div>
  <div>
    <p *ngIf="country.capital?.length"><strong>Capital:</strong> {{ country.capital[0] }}</p>
    <p><strong>Región:</strong> {{ country.region }}</p>
    <p><strong>Subregión:</strong> {{ country.subregion }}</p>
    <p><strong>Población:</strong> {{ country.population | number }}</p>
    <p *ngIf="country.languages"><strong>Lenguajes:</strong> {{ getLanguages(country.languages) }}</p>
    <p *ngIf="country.currencies"><strong>Monedas:</strong> {{ getCurrencies(country.currencies) }}</p>
    <p *ngIf="country.borders"><strong>Fronteras:</strong> {{ getBorders(country.borders) }}</p>
  </div>
</div>
